@model FootballDeployment.Models.Player

@{
    Layout = "_Layout";
}

<h2>Player Details</h2>

<div>
    <hr />
    <dl class="">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Model.Age
        </dd>
        <dt>
            Number
        </dt>
        <dd>
            @Model.Number
        </dd>
        <dt>
            Team
        </dt>
        <dd>
            @Model.Team
        </dd>
    </dl>
</div>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Team" />
    <a asp-action="TeamInfo" asp-route-teamName="@Model.Team">Back to Team View</a>
    <input type="submit" value="Delete Player" /> |
</form>