@model FootballDeployment.ViewModels.FootballViewModel
    
@{
    ViewBag.Title = "Team Info";
    Layout = "_Layout";
}

<h1>Team: @Model.Team.Name</h1>

@if (Model.Players.Count == 0)
{
    <p>No players found.</p>
}
else
{
    <table class="players">
        <thead>
            <tr class="panel">
                <th>Name</th>
                <th>Age</th>
                <th>Number</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="table-body">
            @{
                foreach (var player in Model.Players)
                {
                    <tr>
                        <td>@player.Name</td>
                        <td>@player.Age</td>
                        <td>@player.Number</td>
                        <td>@player.Position</td>
                        <td><a asp-action="DeletePlayer" asp-route-id="@player.Id">Remove</a></td>
                        <td><a asp-action="UpdatePlayer" asp-route-id="@player.Id">Update</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<p><a asp-action="AddPlayer" asp-route-team="@Model.Team.Name">Add Player</a></p>
