@model FootballDeployment.Models.Player

<h2>Update Player</h2>

<div class="form">
    <form method="post">
        <label for="Name">@Model.Name</label>
        <input maxlength="20" name="Name" value="@Model.Name"/>

        <label for="Age">@Model.Age</label>
        <input maxlength="20" name="Age" value="@Model." />

        <label for="Number">@Model.Number</label>
        <input maxlength="20" name="Number" value="@Model.Number" />

        <label for="Team">@Model.Team</label>
        <input maxlength="20" name="Team" value="@Model.Team"/>

        <select>
            <option value="" disabled="disabled" selected="selected">Please select a position</option>
            <option value="Position">Forward</option>
            <option value="Position">Striker</option>
            <option value="Position">Goal Keeper</option>
            <option value="Position">Defensive</option>
        </select>

        <button type="submit">Save</button>
    </form>
</div>